<div class = "comment-wrapper">
  <div class = "clearfix">
    <% if comment.user_id.nil? %>
      <span class = "title"><%= comment.posted_by %></span>
    <% else %>
      <span class = "title"><%= comment.user.name %></span>
      <% end %>
    <% if user_signed_in? %>
      <% if comment.user_id == current_user.id %>
        <%= link_to 'Delete', [comment.blog, comment], method: :delete, :class => "delete", :title => "delete" ,data: { confirm: 'Are you sure?' }, style: "float: right" %>
      <% end %>
   <% end %>
    <p style = "margin-left: 10px">
      <%= comment.body %>
    </p>
    <div class = "comment-post-date"><i>-- posted on <%= comment.created_at.to_date.to_formatted_s(:rfc822) %></i></div>
  </div>
</div>