<%= form_for @blog, url: create_blog_path, :html => {:class => "form"} do |f| %>
  <div class="form-group">
    <label>Title</label>
    <%= f.text_field :title, {:class => 'form-control'} %>
  </div>
    <div class="form-group">
  <label>Body</label>
    <%= f.text_area :body, :class => 'form-control' %>
  </div>
  <div class="form-group">
  <label>Keywords</label>
    <%= f.text_field :keywords, :class => 'form-control' %>
  </div>
  <div class="form-group">
  <label>Category</label>
    <%= f.select :category_id, @categories, :class => 'form-control' %>
  </div>
  <%= f.submit "Publish", :class => 'btn btn-danger' %>
<% end %>