<div id = "blog-content-wrapper">
  <div class = "blog-title-section">
    <%= @blog.title %>
  </div>
  <p>
    <%= @blog.body %>
  </p>
</div>
<h4>There are <%= @blog.comments.count > 0 ? @blog.comments.count : "no"  %> Comments</h4>
<%= render @blog.comments %>
<%= render "comments/form" %>