<!DOCTYPE html>
<html>
  <head>
    <title>ExciteCode</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="main-wrapper">
      <header class="navbar navbar-default navbar-fixed-top" id="site-header" role="banner">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="../" class="navbar-brand">ExciteCode</a>
          </div>
          <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <%= link_to "Blog", blog_index_path %>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contributions<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to "Color Palette", palette_index_path %></li>
                  <li><%= link_to "CSV Processor" %></li>
                </ul>
              </li>
              <!-- <li>
                <a href="../components">About Me</a>
              </li> -->
              <li>
                <%= link_to "Contact", contact_path %>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <div id = "main-container" class = "container">
        <div class = "row">
          <div class = "col-md-9">
            <% if notice %>
              <p class="alert alert-success"><%= notice %></p>
            <% end %>
            <% if alert %>
              <p class="alert alert-danger"><%= alert %></p>
            <% end %>
            <%= yield %>
          </div>
        <div class = "col-md-3" id = "side-bar">
          <%= yield :side_bar %>
          <div id="user_nav">
            <% if user_signed_in? %>
              Signed in as <%= current_user.email %>. Not you?
              <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
            <% else %>
              <a class = "btn btn-success" href = "https://github.com/login/oauth/authorize">Login using github</a>
              <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <footer id="site-footer">
      <div class="container">
        <div class = "row">
          <div class = "col-md-4">
            <span class = "title">About Me</span>
            <p>
              B.E, M.S, passionate about developing web applications and enriching user experience. 
              Strong orientation towards Agile and Test Driven Development (TDD).
            </p>
          </div>
          <div class = "col-md-4">
          </div>
          <div class = "col-md-4">
            <span class = "title">Stay Connected</span>
            <ul class="social-links">
              <li class="github"><a href="#">GitHub</a></li>
              <li class="twitter"><a href="#">Twitter</a></li>
              <li class="facebook"><a href="#">Facebook</a></li>
              <li class="linkedin"><a href="#">LinkedIn</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <footer id = "footer-bottom">
      <div class = "container-fluid">
        <div class = "row">
          <p>ExciteCode.com&#169;2014</p>
        </div>
      </div>
  </body>
</html>
